


.footermid{

    display: flex;
    justify-content: space-between;

       /* background-Color : #d1c7c7;    */
}


.socialMedia{

    display: flex;

    justify-content: center;
}


.address a {

  padding: 30px 100px;

  text-decoration: none;


  
 


  
  
}


.address ul{
    list-style-type: none;
}

/* .vl {

    display: flex;
    border-left: 2px solid #747471;
    height: 110px;
  } */

  