.gallaryPost{
    display: inline-flex;
    justify-content: space-between;
    
    
}


.sideImageWrapper div{

    width: 100%;
    
}

.mainImageWrapper{
    width: 100%;
    height: 450px;
}

.mainImageWrapper Img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}


.sideImageWrapper div Img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.HomeContainer{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.centerImage{
    width: 100%;
    max-height: 550px;
}


